:root {
    --primary: #007bff !important;
    --secondary: #F2600C !important;
    --red: #D90416 !important;
    --orange: #F2600C !important;
    --orange-light: #F28907 !important;
    --yellow: #FFD508 !important;
    --blue: #293EFF !important;
    --blue-light: #64AEFF !important;
    --blue-dark: #2B04E8 !important;
    --indigo: #2B04E8 !important;
    --purple: #5924FF !important;
    --mauve: #6969FF !important;
}

.btn-border {
    border-radius: 10px !important;
}

.cov-btn-primary {
    color: #fff;
    box-shadow: none;
    background-color: var(--primary);
    border-color: var(--primary);
}

.cov-btn-secondary {
    color: #fff;
    box-shadow: none;
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.cov-btn-red {
    color: #fff;
    box-shadow: none;
    background-color: var(--red);
    border-color: var(--red);
}

.cov-btn-orange {
    color: #fff;
    box-shadow: none;
    background-color: var(--orange);
    border-color: var(--orange);
}

.cov-btn-orange-light {
    color: #fff;
    box-shadow: none;
    background-color: var(--orange-light);
    border-color: var(--orange-light);
}

.cov-btn-yellow {
    color: #fff;
    box-shadow: none;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.cov-btn-blue {
    color: #fff;
    box-shadow: none;
    background-color: var(--blue);
    border-color: var(--blue);
}

.cov-btn-blue-light {
    color: #fff;
    box-shadow: none;
    background-color: var(--blue-light);
    border-color: var(--blue-light);
}

.cov-btn-blue-dark {
    color: #fff;
    box-shadow: none;
    background-color: var(--blue-dark);
    border-color: var(--blue-dark);
}

.cov-btn-indigo {
    color: #fff;
    box-shadow: none;
    background-color: var(--indigo);
    border-color: var(--indigo);
}

.cov-btn-purple {
    color: #fff;
    box-shadow: none;
    background-color: var(--purple);
    border-color: var(--purple);
}

.cov-btn-mauve {
    color: #fff;
    box-shadow: none;
    background-color: var(--mauve);
    border-color: var(--mauve);
}


body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}


.display-4 {
    font-size: 2.5rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

footer {
    border-top: .05rem solid #e5e5e5;
}

.nav-item.active>a {
    border-top-left-radius: .125rem !important;
    border-top-right-radius: .125rem !important;
    border-bottom: .214rem solid var(--blue-light) !important;
}

#separatorItem:hover,
#separatorLink:hover{
    border: none;
}

.navbar {
    z-index: 99;
}

#sectionTimeline {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.js .cd-h-timeline__event-title {
    font-family: 'Open Sans', sans-serif;
}

.js .cd-h-timeline__line {
    background-image: linear-gradient(to right,
        var(--red),
        var(--red),
        var(--orange-light),
        var(--orange-light),
        var(--blue-light),
        var(--blue-light));
}


.js .cd-h-timeline__filling-line {
    background-color: var(--blue-light);
}

.js .cd-h-timeline__date:hover::after {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.js .cd-h-timeline__date--selected::after {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.js .cd-h-timeline__date--older-event::after {
    background-color: var(--blue-light);
}

.js .cd-h-timeline__navigation:hover {
    border-color: var(--blue-light);
    cursor: pointer;
}

.js .cd-h-timeline__navigation--inactive:hover {
    border-color: var(--blue-light);
    cursor: pointer;
}

.illustrations-step {
    height: 250px;
}

.sticky-offset {
    top: 95px;
    z-index: 2;
}

#sidebar-wrapper {
    position: relative;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;

}
#v-pills-tabContent h1,
#v-pills-tabContent h2,
#v-pills-tabContent h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 50px 0;
    color: white;
    background: var(--blue-light);
    border-radius: 15px;
    padding: 20px;
}

#v-pills-tabContent ol, #v-pills-tabContent ul {
    list-style: decimal;
    margin-left: 40px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.list-group-item {
    color: rgba(0,0,0,.5);
}

.list-group-item.active {
    color: rgba(0,0,0,.9);
    border-top-left-radius: .125rem !important;
    border-top-right-radius: .125rem !important;
    border-bottom: .214rem solid var(--blue-light) !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.references-card {
    /* min-height: 250px; */
}